@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Project_PRN211.Models
@model List<Account>
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Knirpse - Kindergarten & Baby Care Template</title>
    <meta name="author" content="vecuro_themes">
    <meta name="description" content="Knirpse - Kindergarten & Baby Care Template">
    <meta name="keywords" content="Knirpse - Kindergarten & Baby Care Template">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="assets/anhcate/" type="image/x-icon">
    <link rel="icon" href="assets/img/logo.png" type="image/x-icon">

    <!--==============================
        All CSS File
    ============================== -->
    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" href="assets/css/slick.min.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>


    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!--************* Code Start From Here ************* -->
    <!--========== Preloader =========-->
    @if (ViewBag.login != null)
    {
        <div class="preloader">
            <button class="vs-btn wave-btn preloaderCls">Cancel Preloader </button>
            <div class="preloader-inner">
                <svg id="preloader" xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 128 128">
                    <path id="Path_1" data-name="Path 1" d="M64,0,40.08,21.9a10.98,10.98,0,0,0-5.05,8.75C34.37,44.85,64,60.63,64,60.63Z" fill="#ffb118" />
                    <path id="Path_2" data-name="Path 2" d="M128,64,106.12,40.1a10.97,10.97,0,0,0-8.75-5.05C83.17,34.4,67.4,64,67.4,64Z" fill="#80c141" />
                    <path id="Path_3" data-name="Path 3" d="M63.7,69.73a110.97,110.97,0,0,1-5.04-20.54c-1.16-8.7.68-14.17.68-14.17H97.37s-4.3-.86-14.47,10.1C79.84,48.42,63.7,69.7,63.7,69.7Z" fill="#cadc28" />
                    <path id="Path_4" data-name="Path 4" d="M64,128l23.9-21.88a10.97,10.97,0,0,0,5.05-8.75C93.6,83.17,64,67.4,64,67.4Z" fill="#cf171f" />
                    <path id="Path_5" data-name="Path 5" d="M58.27,63.7a110.97,110.97,0,0,1,20.54-5.04c8.7-1.16,14.17.68,14.17.68V97.37s.86-4.3-10.1-14.47C79.58,79.84,58.3,63.7,58.3,63.7Z" fill="#ec1b21" />
                    <path id="Path_6" data-name="Path 6" d="M0,64,21.88,87.9a10.97,10.97,0,0,0,8.75,5.05C44.83,93.6,60.6,64,60.6,64Z" fill="#018ed5" />
                    <path id="Path_7" data-name="Path 7" d="M64.3,58.27a110.97,110.97,0,0,1,5.04,20.54c1.16,8.7-.68,14.17-.68,14.17H30.63s4.3.86,14.47-10.1c3.06-3.3,19.2-24.58,19.2-24.58Z" fill="#00bbf2" />
                    <path id="Path_8" data-name="Path 8" d="M69.73,64.34a111.023,111.023,0,0,1-20.55,5.05c-8.7,1.14-14.15-.7-14.15-.7V30.65s-.86,4.3,10.1,14.5c3.3,3.05,24.6,19.2,24.6,19.2Z" fill="#f8f400" />
                    <circle id="Ellipse_1" data-name="Ellipse 1" cx="2.03" cy="2.03" r="2.03" transform="translate(61.97 61.97)" />
                </svg>
            </div>
        </div>

        <div class="popup-search-box d-none d-lg-block  ">
            <button class="searchClose border-theme text-theme"><i class="fal fa-times"></i></button>
            <form asp-controller="Home" asp-action="Blog">
                <input name="search" type="text" class="border-theme" placeholder="What are you looking for">
                <button type="submit"><i class="fal fa-search"></i></button>
            </form>
        </div>

        <!-- Chỗ làm logout, profile -->
        <div class="sidemenu-wrapper">
            <div class="sidemenu-content">
                <button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
                <div class="widget footer-widget">
                    <div class="vs-widget-about">
                        <div class="about-logo">
                            <a href="@Url.Action("Home", "Home")">
                                <img style=" width : 150px" src="assets/img/logo.png" alt=".Blog">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="widget footer-widget">
                    <div class="vs-widget-contact">
                        <div class="class-content">
                            <h2 class="class-title h4"><a href="class-details.html">Bloger</a></h2>
                            <p class="class-text">@ViewBag.login.Email</p>
                            <div class="class-profile">
                                <div class="profile">
                                    <div class="avator">
                                        <img src="@ViewBag.login.Avatar" alt="author">
                                    </div>
                                    <div class="info">
                                        <h3 class="author-name text-title"><a asp-controller="Home" asp-action="Profile" asp-route-acid="@ViewBag.login.AccountId">@ViewBag.login.Name</a></h3>
                                    </div>
                                </div>
                            </div>
                            <ul class="class-info">
                                <li>
                                    <p>Gender:</p>
                                    @if (ViewBag.login.Gender == true)
                                    {
                                        <span>Male</span>
                                    }
                                    else
                                    {
                                        <span>Female</span>
                                    }
                                </li>
                                <li>
                                    <p>Mobile:</p>
                                    <span>@ViewBag.login.Mobile</span>
                                </li>
                                <li>
                                    <p>Address:</p>
                                    <span>@ViewBag.login.Address</span>
                                </li>
                            </ul>
                        </div>
                        <button type="button" class="vs-btn wave-btn style-1"><a asp-controller="Home" asp-action="Logout">Logout</a></button>
                    </div>
                </div>
                @foreach (Blog nf in ViewBag.newfeed)
                {
                    <div class="recent-post-wrap">
                        <div class="recent-post">
                            <div class="media-img">
                                <a href="blog-details.html"><img src="@nf.Image" alt="Blog Image"></a>
                            </div>
                            <div class="media-body">
                                <div class="recent-post-meta"><a href="blog.html"><i class="fal fa-calendar-alt"></i> @nf.UpdateDate</a></div>
                                <h4 class="post-title"><a href="blog-details.html">@nf.Tilte</a></h4>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- Side menu end -->
        <!--vs-mobile-menu start-->
        <div class="vs-menu-wrapper">
            <div class="vs-menu-area">
                <button class="vs-menu-toggle"><i class="fal fa-times"></i></button>
                <div class="mobile-logo">
                    <a href="index.html"><img style="width : 250px" src="assets/img/logo.png" alt=".Blog"></a>
                </div>
                <div class="vs-mobile-menu">
                    <ul>
                        <li class="menu-item-has-children">
                            <a href="index.html">Home</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Classes</a>
                        </li>
                        <li><a href="about.html">About</a></li>
                        <li class="menu-item-has-children">
                            <a href="#">Pages</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Blog</a>
                            <ul class="sub-menu">
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div><!-- Menu Will Append With Javascript -->
            </div>
        </div>
        <!--vs-mobile-menu end-->
        <!--======== Header ========-->
        <header class="vs-header">
            <!--header-top-wrapper start-->
            <div class="header-top-area style-2 d-none d-lg-block">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <div class="header-logo">
                                <a href="@Url.Action("Home", "Home")">
                                    <img style=" width : 150px" src="assets/img/logo.png" alt=".Blog">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--header-top-wrapper end-->
            <!--vs-main-menu-wrapper start-->
            <div class="sticky-wrapper">
                <div class="sticky-active">
                    <div class="header-menu-area">
                        <div class="container">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-auto d-inline-block d-lg-none">
                                    <div class="header-logo">
                                        <a href="index.html">
                                            <img src="assets/img/logo.png" alt="Knirpse">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <nav class="main-menu menu-style2 d-none d-lg-inline-block">
                                        <ul>
                                            <li>
                                                <a asp-controller="" asp-action="">Home</a>
                                            </li>
                                            <li >
                                                <a asp-controller="" asp-action="">Classes</a>
                                            </li>
                                            <li><a asp-controller="" asp-action="">About</a></li>
                                            <li >
                                                <a asp-controller="" asp-action="">Pages</a>
                                            </li>
                                            <li >
                                                <a asp-controller="Home" asp-action="Blog">Blog</a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <button type="button" class="vs-menu-toggle d-block d-lg-none"><i class="far fa-bars"></i> Menu</button>
                                </div>
                                <div class="col-auto d-none d-lg-block">
                                    <div class="header-button">
                                        <button type="button" class="searchBoxToggler simple-icon"><i class="far fa-search"></i></button>
                                        <button type="button" class="sideMenuToggler simple-icon"><i class="far fa-bars"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--vs-main-menu-wrapper end-->
        </header>
        <section class="service-section space">
            <div class="container">
                <div class="row mb-30 align-items-center wow fadeInUp" data-wow-delay="0.1s">
                    <div class="col-lg-5">
                        <div class="title-area text-center text-lg-start mb-0 wow fadeInUp" data-wow-delay="0.1s">
                            <h2 class="sec-title">Các danh mục được yêu thích</h2>
                        </div>
                    </div>
                    <div class="col-auto ms-auto">
                        <div class="vs-icon-box d-none d-lg-block">
                            <button data-slick-prev="#sbox2" class="icon-btn style-2 arrow-left"><i class="far fa-arrow-left"></i></button>
                            <button data-slick-next="#sbox2" class="icon-btn style-2 arrow-right ml-5"><i class="far fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>

                <div class="row vs-carousel" data-slide-show="3" id="sbox2">
                    <!-- Single Item -->
                    @foreach (BlogCategory bc in ViewBag.category)
                    {
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="service-box" data-overlay="title" data-opacity="6">
                                <div class="service-img">
                                    <img style="width:387px; height:257px" src="@bc.Image" alt="service">
                                </div>
                                <div class="service-content">
                                    <h3 class="service-title"><a href="service-details.html">@bc.CategoryName</a></h3>
                                    <a asp-controller="Home" asp-action="Blog" asp-route-id="@bc.CategoryId" class="vs-btn style-2">See Details</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
        <section class="classes-section bg-smoke-two space-top space-extra-bottom">
            <div class="container">
                <div class="row text-center justify-content-center wow fadeInUp" data-wow-delay="0.1s">
                    <div class="col-xl-6 col-lg-7 col-md-8 col-sm-9">
                        <div class="title-area">
                            <h3 class="sec-title">Một vài bloger bạn có thể biết</h3>
                        </div>
                    </div>
                </div>
                <div class="row vs-carousel" data-slide-show="3" data-arrows="true">
                    <!-- Single Class -->
                    @foreach (Account a in Model)
                    {
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="class-box">
                                <div class="class-content">
                                    <h2 class="class-title h4"><a href="class-details.html">Bloger</a></h2>
                                    <p class="class-text">@a.Email</p>
                                    <div class="class-profile">
                                        <div class="profile">
                                            <div class="avator">
                                                <img src="@a.Avatar" alt="author">
                                            </div>
                                            <div class="info">
                                                <h3 class="author-name text-title"><a asp-controller="Home" asp-action="Profile" asp-route-acid="@a.AccountId">@a.Name</a></h3>
                                                <span class="author-desig">Teacher</span>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="class-info">
                                        <li>
                                            <p>Gender:</p>
                                            @if (a.Gender == true)
                                            {
                                                <span>Male</span>
                                            }
                                            else
                                            {
                                                <span>Female</span>
                                            }
                                        </li>
                                        <li>
                                            <p>Mobile:</p>
                                            <span>@a.Mobile</span>
                                        </li>
                                        <li>
                                            <p>Address:</p>
                                            <span>@a.Address</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    }
    else
    {
        <div class="preloader">
            <button class="vs-btn wave-btn preloaderCls">Cancel Preloader </button>
            <div class="preloader-inner">
                <svg id="preloader" xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 128 128">
                    <path id="Path_1" data-name="Path 1" d="M64,0,40.08,21.9a10.98,10.98,0,0,0-5.05,8.75C34.37,44.85,64,60.63,64,60.63Z" fill="#ffb118" />
                    <path id="Path_2" data-name="Path 2" d="M128,64,106.12,40.1a10.97,10.97,0,0,0-8.75-5.05C83.17,34.4,67.4,64,67.4,64Z" fill="#80c141" />
                    <path id="Path_3" data-name="Path 3" d="M63.7,69.73a110.97,110.97,0,0,1-5.04-20.54c-1.16-8.7.68-14.17.68-14.17H97.37s-4.3-.86-14.47,10.1C79.84,48.42,63.7,69.7,63.7,69.7Z" fill="#cadc28" />
                    <path id="Path_4" data-name="Path 4" d="M64,128l23.9-21.88a10.97,10.97,0,0,0,5.05-8.75C93.6,83.17,64,67.4,64,67.4Z" fill="#cf171f" />
                    <path id="Path_5" data-name="Path 5" d="M58.27,63.7a110.97,110.97,0,0,1,20.54-5.04c8.7-1.16,14.17.68,14.17.68V97.37s.86-4.3-10.1-14.47C79.58,79.84,58.3,63.7,58.3,63.7Z" fill="#ec1b21" />
                    <path id="Path_6" data-name="Path 6" d="M0,64,21.88,87.9a10.97,10.97,0,0,0,8.75,5.05C44.83,93.6,60.6,64,60.6,64Z" fill="#018ed5" />
                    <path id="Path_7" data-name="Path 7" d="M64.3,58.27a110.97,110.97,0,0,1,5.04,20.54c1.16,8.7-.68,14.17-.68,14.17H30.63s4.3.86,14.47-10.1c3.06-3.3,19.2-24.58,19.2-24.58Z" fill="#00bbf2" />
                    <path id="Path_8" data-name="Path 8" d="M69.73,64.34a111.023,111.023,0,0,1-20.55,5.05c-8.7,1.14-14.15-.7-14.15-.7V30.65s-.86,4.3,10.1,14.5c3.3,3.05,24.6,19.2,24.6,19.2Z" fill="#f8f400" />
                    <circle id="Ellipse_1" data-name="Ellipse 1" cx="2.03" cy="2.03" r="2.03" transform="translate(61.97 61.97)" />
                </svg>
            </div>
        </div>

        <div class="popup-search-box d-none d-lg-block  ">
            <button class="searchClose border-theme text-theme"><i class="fal fa-times"></i></button>
            <form asp-controller="Home" asp-action="Blog">
                <input name="search" type="text" class="border-theme" placeholder="What are you looking for">
                <button type="submit"><i class="fal fa-search"></i></button>
            </form>
        </div>

        <!-- Chỗ làm logout, profile -->
        <div class="sidemenu-wrapper">
            <div class="sidemenu-content">
                <button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
                <div class="widget footer-widget">
                    <div class="vs-widget-about">
                        <div class="about-logo">
                            <a href="@Url.Action("Home", "Home")">
                                <img style=" width : 150px" src="assets/img/logo.png" alt=".Blog">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="widget footer-widget">
                    <h3 class="widget_title">Contact Us</h3>
                    <div class="vs-widget-contact">
                        <button type="button" class="vs-btn wave-btn style-1"><a asp-controller="Home" asp-action="Login">Login</a></button>
                        <button type="button" class="vs-btn wave-btn style-1"><a asp-controller="Home" asp-action="SignUp">SignUp</a></button>
                    </div>
                </div>

                @foreach (Blog nf in ViewBag.newfeed)
                {
                    <div class="recent-post-wrap">
                        <div class="recent-post">
                            <div class="media-img">
                                <a href="blog-details.html"><img src="@nf.Image" alt="Blog Image"></a>
                            </div>
                            <div class="media-body">
                                <div class="recent-post-meta"><a href="blog.html"><i class="fal fa-calendar-alt"></i> @nf.UpdateDate</a></div>
                                <h4 class="post-title"><a href="blog-details.html">@nf.Tilte</a></h4>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- Side menu end -->
        <!--vs-mobile-menu start-->
        <div class="vs-menu-wrapper">
            <div class="vs-menu-area">
                <button class="vs-menu-toggle"><i class="fal fa-times"></i></button>
                <div class="mobile-logo">
                    <a href="index.html"><img style="width : 250px" src="assets/img/logo.png" alt=".Blog"></a>
                </div>
                <div class="vs-mobile-menu">
                    <ul>
                        <li class="menu-item-has-children">
                            <a href="index.html">Home</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Classes</a>
                        </li>
                        <li><a href="about.html">About</a></li>
                        <li class="menu-item-has-children">
                            <a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li><a href="event.html">Event</a></li>
                                <li><a href="event-details.html">Event Details</a></li>
                                <li><a href="gallery.html">Gallery</a></li>
                                <li><a href="team-details.html">Team Details</a></li>
                                <li><a href="service.html">Services</a></li>
                                <li><a href="service-details.html">Services Details</a></li>
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="shop-with-sidebar.html">Shop Sidebar</a></li>
                                <li><a href="shop-details.html">Shop Details</a></li>
                                <li><a href="cart.html">Shopping Cart</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="wishlist.html">Wishlist</a></li>
                                <li><a href="error.html">Error Page</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Blog</a>
                            <ul class="sub-menu">
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div><!-- Menu Will Append With Javascript -->
            </div>
        </div>
        <!--vs-mobile-menu end-->
        <!--======== Header ========-->
        <header class="vs-header">
            <!--header-top-wrapper start-->
            <div class="header-top-area style-2 d-none d-lg-block">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <div class="header-logo">
                                <a href="@Url.Action("Home", "Home")">
                                    <img style=" width : 150px" src="assets/img/logo.png" alt=".Blog">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--header-top-wrapper end-->
            <!--vs-main-menu-wrapper start-->
            <div class="sticky-wrapper">
                <div class="sticky-active">
                    <div class="header-menu-area">
                        <div class="container">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-auto d-inline-block d-lg-none">
                                    <div class="header-logo">
                                        <a href="index.html">
                                            <img src="assets/img/logo.png" alt="Knirpse">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <nav class="main-menu menu-style2 d-none d-lg-inline-block">
                                        <ul>
                                            <li class="menu-item-has-children">
                                                <a href="">Home</a>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="">Classes</a>
                                            </li>
                                            <li><a href="about.html">About</a></li>
                                            <li class="menu-item-has-children">
                                                <a href="">Pages</a>
                                            </li>
                                            <li >
                                                <a asp-controller="Home" asp-action="Blog" asp-route-cate="0">Blog</a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <button type="button" class="vs-menu-toggle d-block d-lg-none"><i class="far fa-bars"></i> Menu</button>
                                </div>
                                <div class="col-auto d-none d-lg-block">
                                    <div class="header-button">
                                        <button type="button" class="searchBoxToggler simple-icon"><i class="far fa-search"></i></button>
                                        <button type="button" class="sideMenuToggler simple-icon"><i class="far fa-bars"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--vs-main-menu-wrapper end-->
        </header>
        <section class="service-section space">
            <div class="container">
                <div class="row mb-30 align-items-center wow fadeInUp" data-wow-delay="0.1s">
                    <div class="col-lg-5">
                        <div class="title-area text-center text-lg-start mb-0 wow fadeInUp" data-wow-delay="0.1s">
                            <h2 class="sec-title">Các danh mục được yêu thích</h2>
                        </div>
                    </div>
                    <div class="col-auto ms-auto">
                        <div class="vs-icon-box d-none d-lg-block">
                            <button data-slick-prev="#sbox2" class="icon-btn style-2 arrow-left"><i class="far fa-arrow-left"></i></button>
                            <button data-slick-next="#sbox2" class="icon-btn style-2 arrow-right ml-5"><i class="far fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>

                <div class="row vs-carousel" data-slide-show="3" id="sbox2">
                    <!-- Single Item -->
                    @foreach (BlogCategory bc in ViewBag.category)
                    {
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="service-box" data-overlay="title" data-opacity="6">
                                <div class="service-img">
                                    <img style="width:387px; height:257px" src="@bc.Image" alt="service">
                                </div>
                                <div class="service-content">
                                    <h3 class="service-title"><a asp-controller="Home" asp-action="Blog" asp-route-cate="@bc.CategoryId">@bc.CategoryName</a></h3>
                                    <a asp-controller="Home" asp-action="Blog" asp-route-cate="@bc.CategoryId" class="vs-btn style-2">See Details</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
        <section class="classes-section bg-smoke-two space-top space-extra-bottom">
            <div class="container">
                <div class="row text-center justify-content-center wow fadeInUp" data-wow-delay="0.1s">
                    <div class="col-xl-6 col-lg-7 col-md-8 col-sm-9">
                        <div class="title-area">
                            <h3 class="sec-title">Một vài bloger bạn có thể biết</h3>
                        </div>
                    </div>
                </div>
                <div class="row vs-carousel" data-slide-show="3" data-arrows="true">
                    <!-- Single Class -->
                    @foreach (Account a in Model)
                    {
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="class-box">
                                <div class="class-content">
                                    <h2 class="class-title h4"><a href="class-details.html">Bloger</a></h2>
                                    <p class="class-text">@a.Email</p>
                                    <div class="class-profile">
                                        <div class="profile">
                                            <div class="avator">
                                                <img src="@a.Avatar" alt="author">
                                            </div>
                                            <div class="info">
                                                <h3 class="author-name text-title"><a asp-controller="Home" asp-action="Profile" asp-route-acid="@a.AccountId">@a.Name</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="class-info">
                                        <li>
                                            <p>Gender:</p>
                                            @if (a.Gender == true)
                                            {
                                                <span>Male</span>
                                            }
                                            else
                                            {
                                                <span>Female</span>
                                            }
                                        </li>
                                        <li>
                                            <p>Mobile:</p>
                                            <span>@a.Mobile</span>
                                        </li>
                                        <li>
                                            <p>Address:</p>
                                            <span>@a.Address</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    }
    <!--======== / Testimonial Section ========-->
    <!--======== Blog Section ========-->
    <a href="#" class="scrollToTop scroll-btn"><i class="far fa-arrow-up"></i></a>
    <!--==============================
        All Js File
    ============================== -->
    <!-- Jquery -->
    <script src="assets/js/jquery-3.5.0.min.js"></script>
    <!-- Slick Slider -->
    <script src="assets/js/slick.min.js"></script>
    <!-- Bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Magnific Popup -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Isotope Filter -->
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <!-- Counter up  -->
    <script src="assets/js/jquery.counterup.min.js"></script>
    <!-- Parallax  -->
    <script src="assets/js/parallax.min.js"></script>
    <!-- Custom Carousel -->
    <script src="assets/js/vscustom-carousel.min.js"></script>
    <!-- Range Slider -->
    <script src="assets/js/jquery-ui.min.js"></script>
    <!-- WOW JS (Animation JS) -->
    <script src="assets/js/wow.min.js"></script>
    <!-- Form Js -->
    <script src="assets/js/ajax-mail.js"></script>
    <!-- Main Js File -->
    <script src="assets/js/main.js"></script>

</body>

</html>